<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239945398479-u0kk9odo6h7svhpc2p9vlfq5nmshu7jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239945398479-u0kk9odo6h7svhpc2p9vlfq5nmshu7jk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Is8o9cD5uUq7v2jA5KDGbllBIyoa2EA</string>
	<key>GCM_SENDER_ID</key>
	<string>239945398479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puttinggate.app</string>
	<key>PROJECT_ID</key>
	<string>putting-gate</string>
	<key>STORAGE_BUCKET</key>
	<string>putting-gate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239945398479:ios:ec56af2c4d1d6808d05fba</string>
</dict>
</plist>